<!-- public/views/home.html -->





                <div class="col-md-1" style="background-color: #6B6B6B; height: 90%">
                    <table id="trades_table" class="display" cellspacing="0"  width="100%">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Size</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-7" style="height: 90%">
                    <div id="chartContainer2" style="height: 100%; width: 100%; margin: 0 auto"></div>
                </div>
                <div class="col-md-1" style="background-color: #7D7D7D; height: 90%">
                </div>
                <div class="col-md-3" style="background-color: #7D7D7D; height: 90%">
                    <div id="chartContainer" style="height: 100%; width: 100%; margin: 0 auto"></div>
                </div>

            </div>

        </div>






